@media (max-width: 575px)
    .skills
        &__text
            margin-top: 5rem
        &__list
            margin-top: 7rem

@media (max-width: 450px)
    .skills
        &__list
            grid-template-columns: 1fr
