<header class="header">
    <div class="container">
        <nav class="header__nav">
            <ul class="header__list">
                <li class="header__item">
                    <a class="header__link" href="#home">Home</a>
                </li>
                <li class="header__item">
                    <a class="header__link" href="#about">About me</a>
                </li>
                <li class="header__item">
                    <a class="header__link" href="#skills">Skills</a>
                </li>
                <li class="header__item">
                    <a class="header__link" href="#portfolio">Portfolio</a>
                </li>
                <li class="header__item">
                    <a class="header__link" href="#contacts">Contacts</a>
                </li>
            </ul>
            @@include('./langs.html')
        </nav>
        <button class="header__burger">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</header>