<section class="hero section-first" id="home" data-section>
    <div class="container">
        <h2 class="sr-only">Common information</h2>
        <div class="hero__wrapper">
            <span class="hero__caption" data-animation="initial">
                Denis
                <br>
                Novik
            </span>
            <span class="hero__descr" data-animation="initial">
                UX | UI designer
                <br>
                24 years old, Minsk
            </span>
            @@include('./langs.html')
        </div>
        <picture>
            <source srcset="img/hero-575.webp" media="(max-width: 575px)">
            <img class="hero__img" src="img/hero.webp" alt="Denis Novik" data-animation="initial" width="940"
                height="386">
        </picture>
    </div>
</section>