<section class="hero section-first">
    <div class="container">
        <h2 class="sr-only">Common information</h2>
        <figure>
            <div class="hero__wrapper">
                <figcaption class="hero__caption">
                    Denis
                    <br>
                    Novik
                </figcaption>
                <p class="hero__descr">
                    UX | UI designer
                    <br>
                    24 years old, Minsk
                </p>
                <ul class="hero__langs">
                    <li class="hero__langs-item">
                        <button class="hero__langs-button">RU</button>
                    </li>
                    <li class="hero__langs-item">
                        <button class="hero__langs-button hero__langs-button_active">ENG</button>
                    </li>
                </ul>
            </div>
            <img class="hero__img" src="img/hero.webp" alt="Denis Novik">
        </figure>
    </div>
</section>