<section class="portfolio section">
    <div class="container">
        <h2 class="section__title">Portfolio</h2>
        <ul class="portfolio__list">
            <li class="portfolio__item">
                <figure class="portfolio__figure">
                    <img class="portfolio__img" src="img/fashion.webp" alt="Online fashion store - Homepage">
                    <figcaption class="portfolio__caption">
                        <a class="portfolio__link" href="#" target="_blank" rel="noopener">Online fashion store -
                            Homepage</a>
                    </figcaption>
                </figure>
            </li>
            <li class="portfolio__item">
                <figure class="portfolio__figure">
                    <img class="portfolio__img" src="img/reebok.webp" alt="Reebok Store - Concept">
                    <figcaption class="portfolio__caption">
                        <a class="portfolio__link" href="#" target="_blank" rel="noopener">Reebok Store - Concept</a>
                    </figcaption>
                </figure>
            </li>
            <li class="portfolio__item">
                <figure class="portfolio__figure">
                    <img class="portfolio__img" src="img/braun.webp" alt="Braun Landing Page - Concept">
                    <figcaption class="portfolio__caption">
                        <a class="portfolio__link" href="#" target="_blank" rel="noopener">Braun Landing Page -
                            Concept</a>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </div>
</section>