<section class="portfolio section" id="portfolio" data-section>
    <div class="container">
        <h2 class="portfolio__title section__title">Portfolio</h2>
        <ul class="portfolio__list">
            <li class="portfolio__item" data-animation="initial">
                <figure class="portfolio__figure">
                    <img class="portfolio__img" src="img/fashion.webp" alt="Online fashion store - Homepage" width="940"
                        height="512">
                    <figcaption class="portfolio__caption">
                        <a class="portfolio__link" href="#" target="_blank" rel="noopener noreferrer">Online fashion
                            store -
                            Homepage</a>
                    </figcaption>
                </figure>
            </li>
            <li class="portfolio__item" data-animation="initial">
                <figure class="portfolio__figure">
                    <img class="portfolio__img" src="img/reebok.webp" alt="Reebok Store - Concept" width="940"
                        height="524">
                    <figcaption class="portfolio__caption">
                        <a class="portfolio__link" href="#" target="_blank" rel="noopener noreferrer">Reebok Store -
                            Concept</a>
                    </figcaption>
                </figure>
            </li>
            <li class="portfolio__item" data-animation="initial">
                <figure class="portfolio__figure">
                    <img class="portfolio__img" src="img/braun.webp" alt="Braun Landing Page - Concept" width="940"
                        height="524">
                    <figcaption class="portfolio__caption">
                        <a class="portfolio__link" href="#" target="_blank" rel="noopener noreferrer">Braun Landing Page
                            -
                            Concept</a>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </div>
</section>