@import '../_animations'

.about
    // opacity: 0
    &[data-animation="activated"]
        animation: fadeInFromLeft 1s forwards
    &__text
        text-align: center
        @include baseFontSize
        &:first-of-type
            margin-top: 2rem
        &:not(:first-of-type)
            margin-top: 5rem

@import '../media/_about-media'
