.about
    &__text
        text-align: center
        @include baseFontSize
        &:first-of-type
            margin-top: 2rem
        &:not(:first-of-type)
            margin-top: 5rem

@import '../media/_about-media'
