.header
    &__nav
        padding: 3rem 0
        border-bottom: 1px solid $gray
    &__list
        display: flex
        justify-content: space-between
        align-items: center
    &__link
        font-weight: 700
        color: $gray
        @include baseFontSize
        @include hoverLink
        &_active
            color: $black
    &__burger, .langs
        display: none

@import '../media/_header-media'
