.header
    &__container
        padding: 30px 0
        border-bottom: 1px solid $gray
    &__list
        display: flex
        justify-content: space-between
        align-items: center
    &__link
        font-weight: 700
        color: $gray
        transition: color 0.15s
        &_active
            color: $black
        @media (min-width: 992px)
            &:hover
                color: $black

@import '../media/_header-media'
