.langs
    display: flex
    transform: rotate(-90deg) translate(2.5rem, 2rem)
    column-gap: 1.3rem
    &__item
        position: relative
        &:not(:first-child)
            &::before
                content: ''
                position: absolute
                top: 5px
                left: -7px
                width: 3px
                height: 15px
                background-color: $black
    &__button
        font-family: inherit
        font-size: 1.6rem
        line-height: 2.0rem
        font-weight: 700
        color: $gray
        @include hoverLink
        &_active
            color: $black

@import '../media/_langs-media'
