@import '../_animations'

.portfolio
    // opacity: 0
    &[data-animation="activated"]
        animation: fadeInFromLeft 1s forwards
    &__list
        margin-top: 4.5rem
    &__item
        &:not(:first-child)
            margin-top: 10rem
    &__img
        width: 100%
        max-height: 525px
        object-fit: cover
    &__link
        display: inline
        background-image: linear-gradient(to right, $black 0%, $black 100%)
        background-repeat: repeat-x
        background-position: 0 100%
        background-size: 100% 1px
        @include baseFontSize
    &__caption
        margin-top: 4.5rem
        text-align: center

@import '../media/_portfolio-media'
